<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=0, initial-scale=1">
	
		<!-- Gridset CSS -->
			<!--[if (!IE) | (gt IE 8)]><!-->{{ "gridset.css" | asset_url | stylesheet_tag }}<!--<![endif]-->
			<!--[if lte IE 8]>  {{ "gridset-ie-lte8.css"" | asset_url | stylesheet_tag }}
		<![endif]-->

       	 {{ "general.css" | asset_url | stylesheet_tag }}       
        
        
        <title>{% block title %}Stewart Birch (Photography){% endblock %}</title>
       



    </head>
    <body> 
        <div class="wrapper">
	
			<h1>Stewart Birch Photography</h1>
			
			<div class="d-all t-all m-all box  photo hero-image">
				<img src="http://placehold.it/1200x850">
			</div>

			<section class="d1-d2 t1-t2 box catergories">
				<h1><a href="#" class="catergories">About</a></h1>
		
			</section>
			<section class="d3-d4  t3-t4 box catergories">
				<h1><a href="#" class="catergories">Portraits</a></h1>
		
				</section>

			<section class="d5-d6 t1-t2 box catergories">			
				<h1><a href="#" class="catergories">Outside</a></h1>
			
			</section>
				<section class="d7-d8 t3-t4 box catergories">
					<h1><a href="#" class="catergories">Other</a></h1>			
			
				</section>

		<footer class="d-all t-all m-all box	site-navigation">
  
     	 <nav>
     	  <ul>     	  
     	
			<li {% if mixture.url == "/portraits/index" %}class="current"{% endif %}><a href="/portraits/index">Portraits</a></li>     			<li {% if mixture.url == "/outside/index" %}class="current"{% endif %}><a href="/outside/index">Outside</a></li>	  

       
            <li><a href="#">Flickr</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Contact</a></li>          
          </ul>
        </nav>
    
     	<div class="t-2">
          <p>&copy; Stewart Birch 2013</p>
        </div>
   
  </footer>



		
	</div><!--wrapper-->
               {{ "gridset-overlay.js" | asset_url | script_tag }}
    </body>
</html>