/* [sass, public/styles, your-project.css] */
html {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  background-color: #F3F3F3;
  color: #333;
}

body {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

img {
  max-width: 100%;
}
