// You can call the complete framework, but if only using certain 
// features just call them individually (will improve compilation speed)
// @import "compass";

// Only using clearfix so lets call that
@import "compass/utilities/general/clearfix";

//Compass Reset
@import "compass/reset";

//Word break
@import "compass/css3/opacity";

//Tranistions
@import "compass/css3/transition";



@import "compass/typography/links";





//Variables

$small:320px;
$medium: 768px;
$large: 1024px;

html {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  background-color: #F3F3F3;
  color: #333;
}

body{text-align:center;}



//Links


@mixin link-colors(
	$normal: #000, 
	$hover: #ccc, 
	$active: #ccc, 
	$visited: #666, 
	$focus: #ccc) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited; } }
  @if $focus {
    &:focus {
      color: $focus; } }
  @if $hover {
    &:hover {
      color: $hover; } }
  @if $active {
    &:active {
      color: $active; } } }

//Layout




//Univerals


a{@include link-colors;}

a.catergories{
	display:block;
	height:auto;
	padding:0;
	width:100%;	
}

//Mobile (max width 320px)


@media (max-width:$small) {
	a.catergories{
		background-image:none;
		
	}

}


//Table portrait (max width 768px)

@media (max-width:$large) {
	a.catergories{	
		padding:20px 0;
	}
	
	
	div>section.catergories:nth-of-type(odd){clear:both;}

}


@media (max-width:$medium) {
	a.catergories{
	
	}

}


.wrapper{
	margin:0 auto;
	max-width:$large;
}

img{max-width:100%;}


.menu{}
	.menu-item{}
		.menu-item_current{}
		
.media-block{
	display:block;
	padding:10px;
}		



.module{}
	.module_content{
		width:61.667%
	} 	
		.module_title{
			margin:0 0 0 30px;		
		}
			.module_text{
				margin:0 0 0 30px;
			}
				.module_cta{
					background-position:left;
					background-repeat:no-repeat;
					margin:0 0 0 30px;
				}
				
	.module-a{}	/* 300px height, Pendelton pic */	
		
		.module-a_content{}
		
			.module-a_title{
				margin:0 0 0 30px;
			}
				.module-a_text{
					margin:0 0 0 30px;
				}
					.module-a_cta{
						background-position:left;
						background-repeat:no-repeat;
						margin:0 0 0 30px;
					}
					
			.module-a_content--gradient{}
						.module-a_content--gradient-one{}		
					
	
					
					
	
		
			
	
				
				
				
				
				
				
	
	
				
			




